
<p>To integrate the generated client SDK you need to add the <a href="https://www.npmjs.com/package/sdkgen-client">sdkgen-client</a> package to your
  project. Then you can simply paste the generated code into the source folder and start using the client for example:</p>

<pre class="typeapi-example"><code class="typescript">const credentials = new Anonymous();
const client = new Client('http://127.0.0.1:1080', credentials);

message = client.test().getHello()

console.log('Message: ' + message.message);
</code></pre>
