
<p>The server code is based on <a href="https://asp.net/web-api">ASP Web-API</a>. The generated code contains the controller and model classes
which are described at the specification. You only need to copy and paste the generated code into your source folder. A simple controller would
look like:</p>

<pre class="typeapi-example"><code class="csharp">[ApiController]
public class App : ControllerBase
{
    [Route("hello/world")]
    [HttpGet]
    [ProducesResponseType(200)]
    public HelloWorld getMessage()
    {
        // @TODO implement method
    }

}
</code></pre>
