
<p>The server code is based on <a href="https://nestjs.com/">NestJS</a>. The generated code contains the controller and model classes
  which are described at the specification. You only need to copy and paste the generated code into your source folder. A simple controller would
  look like:</p>

<pre class="typeapi-example"><code class="typescript">@Controller()
export class AppController {
  @Get('/hello/world')
  @HttpCode(200)
  getMessage(): HelloWorld {
    // @TODO implement method
    return {};
  }

}
</code></pre>
